<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>
        <a [routerLink]="'/profile/' + user.username" target="_blank">{{
          user.username
        }}</a>
      </td>
      <td>{{ user.email }}</td>
      <td>
        <img *ngIf="user.image" [src]="user.image" alt="" height="150px" />
        <img
          *ngIf="!user.image"
          src="../../../../assets/avatar-placeholder.png"
          alt=""
          height="35px"
        />
      </td>
      <td>
        <button class="btn btn-danger" (click)="onDeleteClick(user.email)">
          X
        </button>
      </td>
    </tr>
  </tbody>
</table>
