<div *ngIf="profileData" class="container-md mt-2">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <img *ngIf="profileData.image" [src]="profileData.image" alt="" />
      <img
        *ngIf="!profileData.image"
        src="../../../../assets/avatar-placeholder.png"
        height="250px"
      />
    </div>
    <h2 class="mt-2">{{ profileData.username }}</h2>
    <div class="mt-2">
      <p *ngIf="profileData.bio" class="text-body-secondary">
        {{ profileData.bio }}
      </p>
      <small class="text-body-secondary" *ngIf="!profileData.bio"
        >This user has not provided a bio.</small
      >
    </div>
  </div>
</div>
