<div *ngIf="profileData" class="container-md pt-2 bg-body-secondary">
  <div
    class="d-flex flex-column justify-content-center align-items-center pb-2"
  >
    <div>
      <img *ngIf="profileData.image" [src]="profileData.image" alt="" />
      <img
        *ngIf="!profileData.image"
        src="../../../../assets/avatar-placeholder.png"
        height="250px"
      />
    </div>
    <h2 class="mt-2">{{ profileData.username }}</h2>
    <div class="mt-1 w-75 text-center">
      <p *ngIf="profileData.bio" class="text-body-secondary">
        {{ profileData.bio }}
      </p>
      <small class="text-body-secondary" *ngIf="!profileData.bio"
        >This user has not provided a bio.</small
      >
    </div>

    <button
      *ngIf="loggedInUser === profileData.username"
      class="btn btn-outline-dark mt-4"
      [routerLink]="['edit']"
    >
      Edit Profile
    </button>

    <!-- following needs to be linked in here -->
    <button
      *ngIf="loggedInUser !== profileData.username && !profileData.following"
      class="btn btn-outline-success mt-4"
    >
      Follow
    </button>
    <button
      *ngIf="loggedInUser !== profileData.username && profileData.following"
      class="btn btn-outline-danger mt-4"
    >
      Unfollow
    </button>
  </div>
</div>
