<div class="container-md mt-3">
  <ul ngbNav #nav="ngbNav" [(activeId)]="route.fragment" class="nav nav-tabs" data-bs-theme="dark">
    <li ngbNavItem="users">
      <a ngbNavLink routerLink="users">User Management</a>
    </li>
    <li ngbNavItem="articles">
      <a ngbNavLink routerLink="articles">Article Management</a>
    </li>
    <li ngbNavItem="create-new-article">
      <a ngbNavLink routerLink="create-new-article">Create New Article</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
