<div class="container-md">
  <div *ngIf="articleData" class="mt-3">
    <div class="card-body">
      <h2 class="card-title">
        {{ articleData.title }}
      </h2>
      <p class="card-subtitle mb-3">
        <!-- if I get all the articles at once, author is included. if I get a single one by slug,
          author property is not included, so I took this out. Could be a solution to send the data
          through routing instead (from home, where the author property is present)
         -->
        <!-- <small class="text-body-secondary"
        >By {{ articleData.author.username }}
      </small> -->
        <small class="text-body-secondary"> | </small>
        <small class="text-body-secondary">
          {{ articleData.created | date : "medium" }}
        </small>
        <small class="text-body-secondary"> | </small>
        <small class="text-body-secondary">
          Last updated: {{ articleData.updated | date : "medium" }}
        </small>
      </p>
      <p class="card-text pre-wrap">{{ articleData.body }}</p>
    </div>
    <div class="card-footer mt-3">
      <span
        *ngFor="let tag of articleData.tagList"
        class="badge text-bg-secondary m-1"
        >{{ tag }}</span
      >
    </div>
  </div>
</div>
